@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
  color: rgba(90, 90, 90, 0.9);
  font-size: 18px; }

a {
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s; }
  a:link {
    color: #503264;
    color: rgba(80, 50, 100, 0.8); }
  a:visited {
    color: #503264;
    color: rgba(80, 50, 100, 0.8); }
  a:hover {
    color: #352142;
    color: rgba(53, 33, 66, 0.8); }
  a:focus {
    color: #352142;
    color: rgba(53, 33, 66, 0.8); }
  a:active {
    color: #503264;
    color: rgba(80, 50, 100, 0.8); }
  a img {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  a i,
  a input[type=submit] {
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s; }
  h1 a, h2 a, h3 a {
    text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

th,
td {
  border-color: rgba(90, 90, 90, 0.2);
  vertical-align: top;
  padding: 1rem;
  border-bottom: 1px solid rgba(90, 90, 90, 0.2); }
  th:first-of-type,
  td:first-of-type {
    width: 20%;
    color: #747474; }

th {
  text-align: left;
  font-weight: 600; }

#admin-bar {
  display: none; }

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

#banner {
  width: 100%;
  background-color: white;
  background-image: -webkit-linear-gradient(rgba(47, 30, 59, 0.9), rgba(80, 50, 100, 0.8)), url("images/bg-large.jpg");
  background-image: linear-gradient(rgba(47, 30, 59, 0.9), rgba(80, 50, 100, 0.8)), url("images/bg-large.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }
  #home #banner {
    min-height: 300px;
    height: 50vh; }

#homelink {
  width: 100%;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center; }
  #homelink span {
    display: block; }
  #homelink :first-child {
    font-size: 4rem;
    padding-top: 1rem;
    letter-spacing: -5px;
    line-height: .7; }
  #homelink :last-child {
    background: white;
    color: rgba(80, 50, 100, 0.9);
    font-size: 1.5rem;
    padding-top: .5rem;
    font-weight: 400; }
  #home #homelink :first-child {
    font-size: 8rem;
    font-weight: 700;
    line-height: .7; }
  #home #homelink :last-child {
    font-size: 2rem;
    padding-top: 1rem; }

nav ul {
  list-style: none; }
nav li {
  display: inline-block; }
  nav li + li:before {
    content: " · ";
    padding: 0 .25em; }

#primary-nav {
  display: block; }
  #primary-nav ul {
    list-style: none;
    text-align: center;
    font-weight: 400; }
  #primary-nav li {
    display: inline-block; }
    #primary-nav li + li:before {
      content: " · "; }
  #primary-nav a {
    text-decoration: none;
    color: #503264;
    padding: .25em; }

#homepage-text {
  text-align: justify;
  max-width: 80%;
  margin: 50px auto; }

#main {
  padding-left: 20px;
  padding-right: 20px; }

.item-pagination {
  text-align: center; }
  .item-pagination ul {
    text-align: center; }
  .item-pagination a {
    text-decoration: none; }

#sort-links ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: inline; }
  #sort-links ul li {
    display: inline-block; }
    #sort-links ul li + li:before {
      content: " · ";
      color: rgba(0, 0, 0, 0.5); }

.pagination_list,
#sort-links {
  font-size: .825rem;
  line-height: 1; }

.pagination_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .pagination_list li {
    display: inline; }
    .pagination_list li.pagination_current {
      background: rgba(80, 50, 100, 0.375);
      color: rgba(0, 0, 0, 0.8);
      padding: .25em .75em; }
  .pagination_list a {
    text-decoration: none;
    background: rgba(80, 50, 100, 0.05);
    padding: .25em .75em; }
    .pagination_list a:hover, .pagination_list a:focus {
      background: rgba(80, 50, 100, 0.125); }

@media screen and (min-width: 800px) {
  #main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }

  #browse-list-links {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    padding: 0 0 1rem; }
    #browse-list-links .pagination_list {
      text-align: left;
      margin: 0; }
    #browse-list-links #sort-links {
      text-align: right; }
      #browse-list-links #sort-links ul {
        text-align: right;
        margin: 0; } }
/* Footer styles */
#contentinfo {
  clear: both;
  text-align: center;
  width: 100%;
  padding: 50px 0; }
  #contentinfo p {
    font-size: .825rem; }

#slab-link {
  content: " ";
  display: block;
  text-align: center;
  vertical-align: middle;
  max-width: 250px;
  margin: 0 auto;
  padding: 5px 10px; }
  #slab-link svg {
    vertical-align: middle;
    max-height: 27px; }
    #slab-link svg path {
      fill: #555;
      fill: rgba(0, 0, 0, 0.625); }
  #slab-link:hover path {
    fill: #503264; }

/* Miscellaneous classes */
.visuallyhidden, .skip,
.audible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
