/* TypeKit: <script src="https://use.typekit.net/umh3ofy.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script> */
/* General Styles: */
* {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

/* Landing Page: */
/*
NB: styles to make banner barely noticeable;
	easier to focus on landing page itself
	while designing, vs. making it "match":

#banner {
	box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
	z-index: 1;
	background-color: hsla(270,50%,20%,.1);
	position: absolute;
	width: 100%;
}
*/
/* NB: 'my-collection' so isn't same as css/style.css's styles */
.my-collection header {
  height: 133.33vh;
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to left, rgba(14, 147, 252, 0.7), rgba(75, 0, 153, 0.7)), linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url("newspaper-collage-1.png");
  background-size: auto, auto, cover;
  /* make color = gradient that's transparent where triangles meet and white elsewhere.
  &::after {
  	content: '';
  	width: 100%;
  	height: 10px;
  	background-color: white;
  	display: block;
  	position: absolute;
  	bottom: -5px;
  } */ }
  .my-collection header .small-diagonal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33.33%;
    height: 16.67vh;
    background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0) 50%, white 50%); }
  .my-collection header .big-diagonal {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 66.67%;
    height: 33.33vh;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, white 50%); }

.title {
  position: absolute;
  top: 16.67%;
  left: 8.33%;
  max-width: 83.33%; }
  .title span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white; }
  .title h1 {
    color: white;
    font-size: 3.75rem;
    line-height: 1.5;
    margin: 0;
    display: inline; }

/* Main Styles: */
.content {
  position: relative;
  background-color: white; }

.vertical-line {
  position: absolute;
  left: 33.33%;
  top: calc(-4.5rem - 3px);
  transform: translate(-50%, 0);
  width: 6px;
  height: 100vh;
  background-image: linear-gradient(to bottom, #383393, #331a4d); }
  .vertical-line::after {
    content: '';
    display: block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: -16px;
    transform: translate(10px, 50%); }

.num-items, .description, .filters {
  position: relative;
  left: 16.67%;
  width: 50%;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  color: white;
  margin: 3em 0;
  padding: 1em; }
  .num-items span, .description span, .filters span {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem; }

.num-items {
  background-color: #383393;
  text-align: right;
  padding: 1em 1.5em; }
  .num-items span {
    float: left; }

.description {
  color: #2a2670;
  left: 41.66%;
  padding: 0; }
  .description span {
    color: black; }

.filters {
  left: 0;
  margin: 0;
  margin-top: 5em;
  padding-left: calc(16.67% + 16px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05); }
  .filters span {
    color: black; }
  .filters button {
    display: inline-block;
    border: 1px solid #331a4d;
    background-color: white;
    margin-top: .25em;
    padding: 4px;
    font-family: "Inconsolata", monospace; }

/* Gallery: */
.gallery-bg {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.05); }

.item-container {
  columns: 1;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 0; }
  @media screen and (min-width: 600px) {
    .item-container {
      columns: 2; } }
  @media screen and (min-width: 800px) {
    .item-container {
      columns: 4;
      max-width: 800px; } }
  @media screen and (min-width: 1200px) {
    .item-container {
      max-width: 66.66%;
      columns: 3; } }
  @media screen and (min-width: 1600px) {
    .item-container {
      font-size: 2em; } }

.item {
  background-color: white;
  margin-bottom: 1em;
  margin-top: 2px;
  min-height: 120px;
  width: 100%;
  display: inline-block;
  padding: 1em 1em 1em 1em;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.05);
  border-radius: 0px; }
  .item a.permalink, .item a.article {
    text-decoration: none;
    color: #331a4d;
    color: black;
    display: block; }

.item a img {
  max-height: 160px;
  display: block;
  border: 1px solid rgba(51, 26, 77, 0.1);
  padding: 7px;
  margin-top: .25em;
  margin-bottom: .5em; }

.item span {
  color: rgba(0, 0, 0, 0.3);
  color: rgba(75, 0, 153, 0.7);
  font-weight: bold; }
