/* TypeKit: <script src="https://use.typekit.net/umh3ofy.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script> */

// $baseColor: hsl(270, 50%, 20%); = rgb 51 26 77
$base-color                     : rgb(90,90,90);
$base-color-lightest            : lighten($base-color, 30%);

/* General Styles: */

* {
	box-sizing: border-box;
}

body {
	font: {
		size: 100%;
		family: "Open Sans", sans-serif;
	}
	margin: 0;
	padding: 0;
}

/* Landing Page: */

/*
NB: styles to make banner barely noticeable;
	easier to focus on landing page itself
	while designing, vs. making it "match":

#banner {
	box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
	z-index: 1;
	background-color: hsla(270,50%,20%,.1);
	position: absolute;
	width: 100%;
}
*/

/* NB: 'my-collection' so isn't same as css/style.css's styles */
.my-collection {
	header {
		height: 133.33vh;
		position: relative;
		z-index: 0; // for banner shadow
		background-image: linear-gradient(to left, rgba(14, 147, 252, .7), rgba(75, 0, 153, .7)), linear-gradient(rgba(255,255,255,.7), rgba(0,0,0,.7)), /*url("noise.png"),*/ url("newspaper-collage-1.png");
		// v good purple: rgba(86, 29, 224, .7)
		background-size: auto, auto, cover;
		.small-diagonal {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 33.33%;
			height: 16.67vh;
			background-image: linear-gradient(to bottom left, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
		}
		.big-diagonal {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 66.67%;
			height: 33.33vh;
			background-image: linear-gradient(to bottom right, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
		}
		/* make color = gradient that's transparent where triangles meet and white elsewhere.
		&::after {
			content: '';
			width: 100%;
			height: 10px;
			background-color: white;
			display: block;
			position: absolute;
			bottom: -5px;
		} */
	}
}

.title {
	span {
		font-size: 1.5rem;
		font-weight: bold;
		color: white;
	}
	h1 {
		color: white;
		font-size: 3.75rem;
		line-height: 1.5;
		//padding-top: 1px;
		margin: 0;
		display: inline;
	}
		position: absolute;
		top: 16.67%;
		left: 8.33%;
		max-width: 83.33%;
}


/* Main Styles: */

.content {
	position: relative;
	background-color: white; // rgba(56,51,147,.1);
}

.vertical-line {
	position: absolute;
	left: 33.33%;
	top: calc(-4.5rem - 3px); // 3rem*1.5 = description.margin-top
	transform: translate(-50%, 0);
	width: 6px;
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(56,51,147,1), rgba(51,26,77,1));
	&::after {
		content: '';
		display: block;
		border-radius: 50%;
		height: 16px;
		width: 16px;
		background-color: black; // rgba(42,38,112,1);
		position: absolute;
		bottom: 0;
		left: -16px;
		transform: translate(10px, 50%);
	}
	
}

.num-items, .description, .filters {
	//border: 5px solid rgba(56,51,147,1); // purple from Google eyedropper, save
	//background-image: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.05));
	position: relative;
	left: 16.67%;
	width: 50%;
	font-family: "Inconsolata", monospace;
	font-size: 1.5rem;
	color: rgba(255,255,255,1);
	margin: 3em 0;
	padding: 1em;
	span {
		font-family: "Open Sans", sans-serif;
		color: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 1.5rem;
	}
}

.num-items {
	//width: 33.33%;
	//left: 41.66%;
	background-color: rgba(56,51,147,1);
	//background-image: url("noise.png");
	//background-blend-mode: multiply;
	text-align: right;
	padding: 1em 1.5em;
	span {
		float: left;
	}
}

.description {
	color: rgba(42,38,112,1);
	//background-color: rgba(42,38,112,.1);
	left: 41.66%;
	padding: 0;
	span {
		color: black;
	}
}

.filters {
	left: 0;
	margin: 0;
	margin-top: 5em;
	padding-left: calc(16.67% + 16px);
	width: 100%;
	background-color: rgba(0,0,0,.05);
	//width: 100%; //58.33%;
	//border-top: 6px solid rgba(51,26,77,1);
	span {
		color: black;
	}
	button {
		display: inline-block;
		border: 1px solid rgba(51,26,77,1);
		background-color: white;
		margin-top: .25em;
		padding: 4px;
		font-family: "Inconsolata", monospace;
	}
}

/* Gallery: */

.gallery-bg {
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,.05);
	//z-index: 1;
	//background-image: linear-gradient(to bottom, rgba(51,26,77,1) 25vh, rgba(255,255,255,1) 25vh);
}

.item-container {
	columns: 1;
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	padding-bottom: 0; // item.bottom-margin = 1em
	//background-color: rgba(0,0,0,.1);
	//border: 1px solid black;
	@media screen and (min-width: 600px) {
		columns: 2;
	}
	@media screen and (min-width: 800px) {
		columns: 4;
		max-width: 800px;
	}
	@media screen and (min-width:1200px) {
		max-width: 66.66%;
		columns: 3;
		
	}
	@media screen and (min-width: 1600px) {
		font-size: 2em;
	}
}

.item {
	//background-color: hsla(270,50,20,.2);
	background-color: white; //rgba(0,0,0,.1);
	//border: 1px solid black;
	margin-bottom: 1em;
	margin-top: 2px; // shadow doesn't wrap
	min-height: 120px;
	width: 100%;
	display: inline-block;
	padding: 1em 1em 1em 1em;
	box-shadow: 0px 0px 2px .5px rgba(0, 0, 0, .05);
	border-radius: 0px;
	a.permalink, a.article {
		text-decoration: none;
		color: rgba(51,26,77,1);
		color: black;
		display: block;
		//font-family: "Inconsolata", monospace;
		//font-weight: bold;
	}
	a.permalink {
		//margin-bottom: 1em; // article is at bottom of item
	}
}

.item a img {
	max-height: 160px;
	display: block;
	border: 1px solid rgba(51,26,77,.1);
	padding: 7px;
	margin-top: .25em;
	margin-bottom: .5em;
}

.item span {
	color: rgba(0,0,0,.3);
	color: rgba(75, 0, 153, .7);
	//color: white;
	font-weight: bold;
}