// $baseColor: hsl(270, 50%, 20%);
$base-color                     : rgb(90,90,90);
$base-color-lightest            : lighten($base-color, 30%);

/* General Styles: */

* {
	box-sizing: border-box;
}

body {
	font: {
		size: 100%;
		family: "Open Sans", sans-serif;
	}
	margin: 0;
	padding: 0;
}

/* Header Styles: */

/* NB: 'my-collection' = wrapper class so =/= css/style.css */
.my-collection {
	header {
		height: 100vh;
		position: relative;
	}
}

/* NB: if more efficient, should make this just the bg of <header> */
.low-poly {
	background-image: url("low-poly.png");
	background-color: hsla(270, 50%, 20%, .9);
	background-blend-mode: multiply;
	height: 100%;
	width: 40vw;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.title {
	font: {
		size: 1.5rem;
		weight: bold;
	}
	color: lightgrey;
	div {
		color: lavender;
		background: {
			color: rgba(90, 90, 90, .7);
		}
		font: {
			size: 3.5rem;
		}
		padding: 5px;
	}
	position: absolute;
	top: 5rem;
	right: 5rem;
	max-width: 80%;
}


/* Main Styles: */

.content {
	height: 300vh;
	background-image: linear-gradient(lightgrey 20%, white 20%, white 80%, hsla(270, 50%, 20%, .9) 80%);
}

.description {
	position: relative;
	p {
		color: white;
		background-color: hsla(270, 50%, 20%, .7);
		padding: 2rem;
		margin: 0 12.5vw;
		width: 50vw;
		&::before {
			content: '';
			display: block;
			height: 2rem;
			width: 4rem;
			border-top: 5px solid lightgrey;
		}
		
	}
	span {
		color: lightgrey;
		font-weight: bold;
		font-size: 1.5rem;
		margin-left: 3rem;
	}
}
