/* General Styles: */
* {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

/* Header Styles: */
/* NB: 'my-collection' = wrapper class so =/= css/style.css */
.my-collection header {
  height: 100vh;
  position: relative; }

/* NB: if more efficient, should make this just the bg of <header> */
.low-poly {
  background-image: url("low-poly.png");
  background-color: rgba(51, 26, 77, 0.9);
  background-blend-mode: multiply;
  height: 100%;
  width: 40vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: lightgrey;
  position: absolute;
  top: 5rem;
  right: 5rem;
  max-width: 80%; }
  .title div {
    color: lavender;
    background-color: rgba(90, 90, 90, 0.7);
    font-size: 3.5rem;
    padding: 5px; }

/* Main Styles: */
.content {
  height: 300vh;
  background-image: linear-gradient(lightgrey 20%, white 20%, white 80%, rgba(51, 26, 77, 0.9) 80%); }

.description {
  position: relative; }
  .description p {
    color: white;
    background-color: rgba(51, 26, 77, 0.7);
    padding: 2rem;
    margin: 0 12.5vw;
    width: 50vw; }
    .description p::before {
      content: '';
      display: block;
      height: 2rem;
      width: 4rem;
      border-top: 5px solid lightgrey; }
  .description span {
    color: lightgrey;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 3rem; }

/* Create sets of items: */
.set-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
  /* Item styles: */
  /* NB:  pic1 = pic4 = lavender; 
  		pic2 = 90% $link-color; 
  		pic3 = 80% $link-color */ }
  .set-1 a {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
    font-size: 1.25rem; }
    .set-1 a:hover {
      text-decoration: underline; }
  .set-1 .pic1 {
    grid-area: pic1;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-1 .pic1 img {
      padding: .25rem; }
  .set-1 .pic2 {
    grid-area: pic2;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.9);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-1 .pic2 img {
      padding: .25rem; }
  .set-1 .pic3 {
    grid-area: pic3;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.8);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-1 .pic3 img {
      padding: .25rem; }
  .set-1 .pic4 {
    grid-area: pic4;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-1 .pic4 img {
      padding: .25rem; }

.set-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
  /* Item styles: */
  /* NB:  pic1 = pic4 = lavender; 
  		pic2 = 90% $link-color; 
  		pic3 = 80% $link-color */ }
  .set-2 a {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
    font-size: 1.25rem; }
    .set-2 a:hover {
      text-decoration: underline; }
  .set-2 .pic1 {
    grid-area: pic1;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-2 .pic1 img {
      padding: .25rem; }
  .set-2 .pic2 {
    grid-area: pic2;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.9);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-2 .pic2 img {
      padding: .25rem; }
  .set-2 .pic3 {
    grid-area: pic3;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.8);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-2 .pic3 img {
      padding: .25rem; }
  .set-2 .pic4 {
    grid-area: pic4;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-2 .pic4 img {
      padding: .25rem; }

.set-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
  /* Item styles: */
  /* NB:  pic1 = pic4 = lavender; 
  		pic2 = 90% $link-color; 
  		pic3 = 80% $link-color */ }
  .set-3 a {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
    font-size: 1.25rem; }
    .set-3 a:hover {
      text-decoration: underline; }
  .set-3 .pic1 {
    grid-area: pic1;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-3 .pic1 img {
      padding: .25rem; }
  .set-3 .pic2 {
    grid-area: pic2;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.9);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-3 .pic2 img {
      padding: .25rem; }
  .set-3 .pic3 {
    grid-area: pic3;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.8);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-3 .pic3 img {
      padding: .25rem; }
  .set-3 .pic4 {
    grid-area: pic4;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-3 .pic4 img {
      padding: .25rem; }

.set-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
  /* Item styles: */
  /* NB:  pic1 = pic4 = lavender; 
  		pic2 = 90% $link-color; 
  		pic3 = 80% $link-color */ }
  .set-4 a {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
    font-size: 1.25rem; }
    .set-4 a:hover {
      text-decoration: underline; }
  .set-4 .pic1 {
    grid-area: pic1;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-4 .pic1 img {
      padding: .25rem; }
  .set-4 .pic2 {
    grid-area: pic2;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.9);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-4 .pic2 img {
      padding: .25rem; }
  .set-4 .pic3 {
    grid-area: pic3;
    background-image: url("low-poly.png");
    background-color: rgba(51, 26, 77, 0.8);
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-4 .pic3 img {
      padding: .25rem; }
  .set-4 .pic4 {
    grid-area: pic4;
    background-image: url("low-poly.png");
    background-color: lavender;
    background-blend-mode: multiply;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .set-4 .pic4 img {
      padding: .25rem; }

/* Gallery test from dance.html */
.item-gallery {
  background-color: white;
  padding: 20px;
  height: 200vh;
  width: 75%;
  margin: 25% auto;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, minmax(auto, 40vh)); }
  .item-gallery div {
    font-size: 2rem;
    font-weight: bold;
    padding: 1em;
    background-color: lavender; }
    .item-gallery div a {
      color: white; }
    .item-gallery div:nth-of-type(2n + 2) {
      background-color: rgba(0, 0, 0, 0.7); }
    .item-gallery div:nth-of-type(5n) {
      background-color: rgba(0, 0, 0, 0.3); }
    .item-gallery div:nth-of-type(5n-2) {
      background-color: tan; }
