/* General Styles: */
* {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

/* Header Styles: */
header {
  height: 100vh; }

.low-poly {
  /* background-image: linear-gradient(hsla(270, 50%, 20%, .7), hsla(270, 50%, 20%, .7)), url("low-poly.png"); */
  background-image: url("low-poly.png");
  background-color: rgba(51, 26, 77, 0.9);
  background-blend-mode: multiply;
  height: 100%;
  width: 40vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.title {
  color: #a7a7a7;
  font-size: 3rem;
  text-align: center;
  border: 1px solid black; }

/* Main Styles: */
main {
  height: 100vh; }

.description {
  background-image: linear-gradient(to left bottom, purple 60%, white 60%);
  height: 100vh; }
