@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "mixins";
@import "collections";
@import "items";

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.375 $default-font;
  color: $base-color;
  color: rgba($base-color, .9);
}

h2 {
  font-size: 1.2rem;
  line-height: 1.1;
}

a {

  &:link {
    color: $link-color;
    color: rgba($link-color, .8);
  }

  &:visited {
    color: $link-visited-color;
    color: rgba($link-visited-color, .8);
  }

  &:hover {
    color: $link-hover-color;
    color: rgba($link-hover-color, .8);
  }

  &:focus {
    color: $link-focus-color;
    color: rgba($link-focus-color, .8);
  }

  &:active {
    color: $link-active-color;
    color: rgba($link-active-color, .8);
  }

  @include transition(
    color $default-transition-duration,
    background-color $default-transition-duration
  );

  img {
    @include transition(opacity $default-transition-duration);
  }

  i,
  input[type=submit] {
    @include transition(background-color $default-transition-duration);
  }

  h1 &,
  h2 &,
  h3 & {
    text-decoration:none;
  }

  #item-tags & { /* item show page tags */
    display: inline-block;
  }
}

table {
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
}

th,
td {
  border-color: rgba($base-color,.2);
  vertical-align:top;
  padding: 1rem;
  border-bottom: 1px solid rgba($base-color, .2); /* show.php: lines across bottom */
  &:first-of-type { /* show.php: styles all fields */
    width: 20%; /* this applies to data and headings so splits in half - unintentional?? */
    color: $base-color-light;
  }
}

th {
  text-align:left;
  font-weight: 600;
}

/* Forms */
input[type=text] {
  padding: 6px;
}

select {
  font-size: 1.2rem;
}

.field {
  margin-bottom: 1.5rem;
}

#admin-bar {
  display:none;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

nav {
  ul {
    list-style:none;
  }
  li {
    display:inline-block;

    & + li:before {
      content: "\b7";
      padding-right: .25em;
    }
  }
}


#banner {
  background-color: $link-color;
  color: white;
  padding:1rem 2rem;
  margin:0;

  @include display(flex);
  @include justify-content(space-between);

  a:link,
  a:visited,
  a:hover,
  a:focus {
    color: white;
    text-decoration:none;
  }
}

#homelink,
#primary-nav {
  font-size: .825rem;
  margin:0;
}

#homelink {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

#primary-nav {

  text-align:right;
  ul {
    margin:0;
    padding:0;
  }
}

#main {
  padding: 2rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  // Make collections/show template span the entire width of viewport.
  .collections.show & {
    max-width: inherit;
    padding:0;
  }

  .browse &,
  .page & {
    h1:first-of-type {
      text-align: center;

      &:after {
        display:block;
        content: " ";
        height: .25rem;
        width: 50px;
        background: hsla(30,100%,50%, .75);
        margin: 3rem auto;
      }
    }
  }
}

#homepage-text {
  padding: 2rem 0;
  p:first-of-type {
    margin-top:0;
  }
  p:last-of-type {
    margin-bottom:0;
  }

}

.item-pagination {
  text-align:center;
  ul {
    text-align:center;
  }

  a {
    text-decoration:none;
  }
}

.sort-links {
  ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    display:inline;

    li {
      display: inline-block;

      & + li:before {
        content: "\b7";
        padding: 0 .25em;
        color: rgba(black, .5);
      }
    }
  }
}

.pagination_list,
.sort-links {
  font-size: .825rem;
  line-height:1;
}

.pagination_list {
  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    display:inline;

    &.pagination_current {
      background: rgba($link-color, .375);
      color: rgba(black,.8);
      padding: .25em .75em;
    }
  }

  a {
    text-decoration:none;
    background: rgba($link-color, .05);
    padding: .25em .75em;

    &:hover,
    &:focus {
      background: rgba($link-color, .125);
    }
  }
}

.browse { /* browse view */
  .items {
    @include display(flex);
    @include justify-content(space-between);
    @include flex-flow(row wrap);
  }

  .item {
    width: 29%;
    margin-bottom: 2em;
  }
}

/* Old collection show styles: */


.gallery {
  .image {
    height: 200px;
    background: rgba($link-color, .5);
    margin-bottom: .5rem;
  }

  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-between);

  list-style:none;
  margin-left:0;
  padding-left:0;

  li {
    width: 48%;
    margin-bottom: 2rem;
    font-size: .9rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  a {
    text-decoration:none;
  }

}



$collections: 11 12 13 14 15 16 17 18; /* collections containing header images */

@each $collection in $collections{ /* assign header images to collections */

  li#collection-#{$collection} {
    .image{
      @include background-image(
        linear-gradient(hsla(270,50%, 25%,.75),hsla(270,50%, 25%,.75)),
        url(../images/collection-#{$collection}.jpg)
        );
      background-size: cover;
      background-position: 50% 50%;
    }
  }
}


/*
.collection { /* collection show styles *
  header {
    min-height: 50vh;
    background-color: rgba($link-color,.75);
    @include background-image(
      linear-gradient(hsla(270,50%, 25%,.9),hsla(270,50%, 25%,.9)),
      url(../images/bg-large.jpg)
      );
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    color: rgba(white,.9);
    padding: 4rem;

    h1 {
      font-size: 3rem;
      letter-spacing: -1px;
      margin-top: 0;
      font-weight: 100;
    }
  } 

  .content {
    max-width: 900px;
    margin: 0 auto;
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(space-between);

    .item {
      width: 48%;
      margin-bottom: 2rem;
      font-size: .9rem;
      font-weight: 100;
      letter-spacing: -1px;
    }
  }

  .item {
    .item-img {
      float:left;
      width: 33%;
      margin-right: 2%;
      margin-bottom: 2%;
      padding: 2%;
      border: 1px solid hsla(220,50%, 50%, .125);
    }

    h2 {
      margin-top:0;
    }

  }
} */


@media screen and (min-width:800px) {

.browse-list-links {
  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-between);
  padding: 0 0 1rem;

  .pagination_list {
    text-align:left;
    margin:0;
  }

  .sort-links {
    text-align:right;

    ul {
      text-align:right;
      margin:0;
    }
  }
}

}


/* Footer styles */
#contentinfo {
  background-color: $link-color;
  clear:both;
  text-align:center;
  color: #e0e0e0;
  color: rgba(255,255,255,.75);
  padding: 1rem 2rem;

  p {
    font-size: .825rem;
  }

  a,
  a:link
  a:visited {
    color: #e0e0e0;
    color: rgba(255,255,255,.75);
  }

  a:hover,
  a:focus {
    color: #fff;
  }

}


#slab-link {
  content: " ";
  display:block;
  text-align:center;
  vertical-align:middle;
  max-width: 250px;
  margin:2rem auto;
  padding: 5px 10px;

  svg {
    vertical-align:middle;
    max-height: $base-line-height;

    path {
      fill: #e0e0e0;
      fill: rgba(255,255,255,.75);
    }
  }

  &:hover {
    path {
      fill: #fff;
    }
  }
}

/* Miscellaneous classes */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip,
.audible {
  @extend .visuallyhidden;
}

.eyebrow {
  font-size: .9rem;
  font-style:normal;
  font-weight:400;
  color: #999;
  margin:0;

  & + h2 {
    margin-top:0;
  }
}
