/* General tags covered by main CSS style sheet. */

/**
  * Reusable styles and colors from _collections.scss:
  *
  * background-image: linear-gradient(to left, rgba(14, 147, 252, .7), rgba(75, 0, 153, .7)), linear-gradient(rgba(255,255,255,.7), rgba(0,0,0,.7)), url("../images/newspaper-collage-1.png");
  *
  *
  * Collection stats color: rgba(56,51,147,1);
  *
  * Description text color: color: rgba(42,38,112,1);
  *
  * Item label color: rgba(77, 0, 153, 1);
  *
  * Image border: 1px solid rgba(51,26,77,.1);
  *
  * @media cutoffs: 768px, 768px, 1200px, 1768px;
  *
  * NB: Layout follows 12-col format; measurements calculated accordingly.
  *
  *
  */

 /* * ARROW COMPONENT: * *
 	justify-self: center;
 	align-self: center;
 	font-family: "Arial", sans-serif; // btn font, looks nicer for arrow
 	height: 7rem; // so rotate works
 	font-size: 6rem;
 	//font-weight: bold;
 	color: transparent;
 	background-image: linear-gradient(to left, rgba(14, 147, 252, .7) -10%, rgba(75, 0, 153, .7) 110%);
 	-webkit-background-clip: text;
 	background-clip: text;
 	transform: rotate(90deg);
 * * */

/* Colors: */

$collection-blue: 		rgba(14, 147, 252, .7);
$collection-purple: 	rgba(75, 0, 153, .7);
$stats-text:		    rgba(56,51,147,1);
$description-text:		rgba(42,38,112,1);
$item-labels:			rgba(77, 0, 153, 1);

/* General styles: */

* {
	box-sizing: border-box;
}

.items.show #main {
	margin: 0;
	padding: 0;
	max-width: 100%;
	color: black;
}

#banner {
	opacity: .05;
}

/* Carousel: */

.carousel-wrapper--top {
	//display: none; /* 11/21 TEMPORARY */
	position: relative;
	width: 83.33%;
	margin: 0 auto;
	margin-top: 1rem;
	padding: 0;
}

.carousel-wrapper--visible {
	position: relative;
	border: 0px solid;
	border-bottom: 4px solid;
	border-image: linear-gradient(to left, rgba(14, 147, 252, .7), rgba(75, 0, 153, .7)) 10;
	padding: 0 4.167vw;
}

.carousel-overflow-mask {
	overflow: hidden;
	position: relative;
}

.carousel-item-container {
	width: 8000px;
}

.carousel-btn {
	position: absolute;
	top: 50%;
	color: black; //rgba(51, 26, 77,1);
	background-color: transparent;
	font-size: 3.75em;
	border: none;
	&.left {
		left: 0;
		transform: translate(0, -50%);
	}
	&.right {
		right: 0;
		transform: translate(0, -50%);
	}
}

.carousel-item {
	height: 142px; //162px; // img height + 2 lines of text
	width: 100px;
	float: left;
	margin: 1em;
	a {
		text-decoration: none;
		color: black;
		display: block;
		img {
			display: block;
			width: 100px;
		}
		div {
			overflow: hidden;
			height: 2em;
			line-height: 1;
			margin-top: .5em;
			font-family: "Inconsolata", monospace;
		}
	}
}

/* * * START ITEM: * * */

.item-files {
	position: relative;
	width: 100%; // 2 col
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto auto;
	grid-template-areas: "pic"
						 "title"
						 "line"
						 "grad";
	@media screen and (min-width: 768px) {
		//height: initial;
		grid-template-columns: 4fr 8fr; // 10 col
		grid-template-rows: auto minmax(75vh, auto) 5vh;
		grid-template-areas: "title title"
							 "pic  pic"
							 "line  ...";
	}
}

.files__item-title {
	grid-area: title;
	position: relative;
	margin-left: 8.33%;
	padding-right: 8.33%;
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1;
	span {
		font-weight: bold;
		font-family: "Open Sans", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	.curly-arrow {
		display: none; // when small
		position: absolute;
		right: 4.167%;
		top: 1.5em;
		height: 100%;
	}
	.click {
		display: none; // when small
		position: absolute;
		right: 4.167%;
		top: 5px; // align w/ 'ITEM'
		font-family: "Inconsolata", monospace;
		font-size: 1rem;
		width: 16.67%;
		color: rgba(125,0,255,1);
	}
	@media screen and (min-width: 480px) {
		font-size: 1.75rem;
	}
	@media screen and (min-width: 600px) {
		font-size: 2rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 2rem;
		padding-right: 25%;
		.curly-arrow, .click {
			display: initial;
		}
	}
	@media screen and (min-width: 1200px) {
		.curly-arrow {
			right: 8.33%;
		}
	}
}

.files__pic {
	grid-area: pic;
	display: block;
	margin: 0 4.167%;
	a {
		display: block;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.pic__click-note {
		text-align: center;
		font-family: "Inconsolata", monospace;
		span {
			display: none;
		}
	}
	@media screen and (min-width: 768px) {
		margin: 0 auto;
		.pic__click-note {
			text-align: initial;
		}
	}
}

.files__vertical-line {
	display: none; /* ADDED 11/24 */
	grid-area: line;
	position: relative;
	width: 100%;
	.line {
		position: absolute;
		left: calc(75% - 2px);
		height: 25vh;
		width: 4px;
		background-image: linear-gradient(to bottom, rgba(14, 147, 252, .7), rgba(75, 0, 153, .7));
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			transform: translate(-6px, 8px);
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background-color: rgba(75, 0, 153, 1);
		}
		@media screen and (min-width: 768px) {
			height: 100%;
		}

	}
}

.files__gradient {
	grid-area: grad;
	position: relative;
	margin-bottom: 1rem;
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
	.item-info-label {
		position: absolute;
		bottom: 0;
		left: 8.33%;
		//color: rgba(125,0,255,1);
		font-size: 3rem;
		font-weight: 700;
	}
}

.item-information {
	display: none;
	float: right;
	margin-right: 8.33%;
	color: rgba(56,51,147,.9);
	margin-top: 0;
}

/* Text Information: */

.item-grid-wrapper {
	display: grid;
	position: relative;
	width: 100%;
	//background-color: rgba(0,0,0,.1);
	grid-template-areas: "title"
						 "stats"
						 "description"
						 "relationships"
						 "wrapper";
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "relationships 		stats		  stats"
							 "wrapper 				stats stats"
							 "wrapper  		description   description";
	} // NB: 8.33% = 25% on 1fr; 12.5% on 2fr
}

.item-about-label {
	display: none;
	@media screen and (min-width: 768px) {
		grid-area: about;
		display: none;
		align-self: start;
		margin-left: 25%;
		font-size: 3em;
		//line-height: 1;
		font-weight: bold;
		color: rgba(125,0,255,1);
		span {
			//border-bottom: 1px solid rgba(125,0,255,1);

		}
	}
}

.item-description {
	grid-area: description;
	position: relative;
	margin: 0 4.167%;
	margin-top: 1em;
	font-size: 1rem;
	font-family: "Inconsolata", monospace;
	color: hsla(270, 100, 30, 1);
	span {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		color: black;
		border-bottom: 1px solid black;
	}
	@media screen and (min-width: 400px) {
		margin-left: 8.33%;
		margin-right: 8.33%;
	}
	@media screen and (min-width: 600px) {
		font-size: 1.25rem;
	}
	@media screen and (min-width: 768px) {
		//margin-left: 0;
		margin-right: 12.5%;
		font-size: 1.5rem;
		padding-bottom: 2em;
	}
}

.item-stats {
	grid-area: stats;
	border: 4px solid rgba(125,0,255,1); //rgba(56,51,147,.9);
	color: black;
	font-family: "Inconsolata", monospace;
	text-align: right;
	padding: 1em 1.5em;
	position: relative;
	margin: 0 4.167%;
	margin-top: 2.5em;
	span {
		float: left;
		color: rgba(125,0,255,1);
		font-weight: 400;
		font-family: "Inconsolata", monospace;		
	}
	div {
		position: absolute;
		top: -4px;
		left: -4px; // makes up for border
		transform: translate(0, -100%);
		text-transform: uppercase;
		font-size: 1.25rem;
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
	}
	@media screen and (min-width: 400px) {
		font-size: 1.25rem;
		margin-left: 8.33%;
		margin-right: 8.33%;
		div {
			font-size: 1.5rem;
		}
	}
	@media screen and (min-width: 768px) {
		font-size: 1.5rem;
		//margin-left: 0;
		margin-right: 12.5%;
	}
}

/* literally the word: "Relationships" */
.the-relationships {
	font-weight: 700;
	line-height: 1;
	position: relative;
	//bottom: -5px;
	z-index: 1;
    padding-left: 8.33%;
    margin-top: 3rem;
	grid-area: relationships;
	font-size: 2em;
	color: black;
	border-bottom: 1px solid black;
	@media screen and (min-width: 768px) {
		margin-left: 25%;
		padding-left: 0;
	}
}

.relationships-wrapper {
	grid-area: wrapper;
	//background-color: rgba(0,0,0,.05);
	& div:last-child {
		padding-bottom: 1em;
	}
}

.item-collection, .item-tags, .item-subjects {
	margin: 0 8.33%;
	padding-top: 1.25em;
	a {
		text-decoration: none;
		font-family: "Inconsolata", monospace;
		color: black;
	}
	span {
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	@media screen and (min-width: 768px) {
		margin-left: 25%;
	}
}

.item-collection, .item-subjects {
	a {
		&:hover {
			color: rgba(125,0,255,1);
			font-weight: bold;
		}
		border-bottom: 1px solid rgba(125,0,255,1)
	}
}

.item-tags {
	a {
		display: inline-block;
		white-space: nowrap;
		position: relative;
		margin-right: 1.25em;
		margin-bottom: .5em;
		padding: .5em .75em;
		line-height: 1;
		background-color: rgba(125,0,255,1);
		color: white;
		border-bottom-left-radius: 2px;
		border-top-left-radius: 2px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(100%, 0);
			height: 0;
			width: 0;
			border: 16px solid transparent;
			border-left-color: rgba(125,0,255,1);
		}
		&::before {
			content: '';
			z-index: 1;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(100%, -50%);
			height: 6px;
			width: 6px;
			background-color: white;
			background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
			border-radius: 50%;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.item-subjects {
}