* {
  box-sizing: border-box; }

.item-show {
  display: grid;
  width: 70%;
  margin: 2rem auto;
  grid-gap: 0;
  grid-template-areas: "title            files" "date  	       files" "description      files" "tag-container    collection" "subject        subject";
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-max(5rem, auto);
  /* Prevent full-size images from overflowing layout: */ }
  .item-show img {
    max-width: 30vw; }

.title {
  grid-area: title;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.date {
  grid-area: date;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.description {
  grid-area: description;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.files {
  grid-area: files;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.tag-container {
  grid-area: tag-container;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.collection {
  grid-area: collection;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.subject {
  grid-area: subject;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 2px solid white;
  background-color: lightgrey; }

.title {
  font-size: 2rem; }

.collection a,
.subject a {
  color: #331a4d;
  text-decoration: none;
  border-bottom: 3px solid #9AAC5A; }
  .collection a:hover,
  .subject a:hover {
    color: #9AAC5A;
    font-weight: bold; }

.tag-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center; }
  .tag-container a {
    color: white !important;
    background-color: #9aac5a;
    text-decoration: none;
    display: inline-block;
    padding: 3px 5px;
    margin: 3px; }
