// pic: http://takeback.neatline-uva.org/items/show/1

// cool CSS patterns:
/* repeating-linear-gradient(to right, rgba(125,0,255,0), rgba(125,0,255,0) 30px, rgba(125,0,255,.5) 44px, rgba(125,0,255,.5) 52px, rgba(125,0,255,0) 66px),
 repeating-linear-gradient(to bottom, rgba(125,0,255,.1) 0, rgba(125,0,255,.1) calc(8px * 2), rgba(0,0,0,.8) calc(16px * 1.5), rgba(125,0,255,.1) calc(24px * 1.5), rgba(125,0,255,.1) calc(32px * 2)), */

#banner {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	#homelink {
		display: none;
	}
	nav {
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		ul li:hover {
			border-bottom: .5px solid white;
		}
	}
}

footer {
	opacity: .05;
	display: none;
}

#home #main {
	margin: 0;
	padding: 0;
	max-width: 100%;
	color: black;
}

.home-icon {
	position: absolute;
	z-index: 1;
	margin: 12px;
	opacity: .8;
	a {
		display: block;
		height: 46px;
		width: 46px;
		border: 1px solid white;
		border-radius: 2px;
	}
	img {
		display: block;
		height: 36px;
		margin: 4px auto;
	}
	&:hover, &:focus {
		opacity: 1;
	}
}

.home-grid-container {
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(50vh, auto);
	grid-template-areas: "title"
						 "about"
						 "explore"
						 "footer";
	
}

.home-title {
	position: relative;
	grid-area: title;
	height: 100vh;
	font-size: 3rem;
	padding-top: 120px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,.4)),
						url("low-poly.svg"),
	 				  linear-gradient(to bottom, rgba(125,0,255,1), rgba(212,0,255,1) 200%);
	background-size: auto, 400px, auto;
	/* MEDIA QUERY TEMPLATE: */
	@media screen and (min-width: 400px) {
		font-size: 3.5rem;
	}
	@media screen and (min-width: 600px) {
		font-size: 4rem;
	//	height: 133.33vh;
		.small-diagonal {
			height: 16.67vh;
		}
		.big-diagonal {
			height: 33.33vh;
		}
	}
	@media screen and (min-width: 768px) {
		font-size: 5.5rem;
		padding-top: 1.5em;
	}

	@media screen and (min-width: 900px) {
		font-size: 6rem;	
	}
	@media screen and (min-width: 1024px) {
		padding-top: 1em;
		font-size: 6.5rem;
	}
	@media screen and (min-width: 1200px) {
	//	font-size: 7rem;
		.small-diagonal {
			width: 25%;
		}
		.big-diagonal {
			width: 75%;
		}
	}
	@media screen and (min-width: 1600px) {
		font-size: 8rem;
	}
}

.title-wrapper {
	position: relative;
	height: 3.2em; /* 4 words * .8 line height */
	max-width: 66.66%;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	line-height: .8;
	text-transform: uppercase;
	span {
		position: relative;
		color: rgba(255,255,255,1);
		text-shadow: 0 0 1px rgba(0,0,0,.3); //rgba(125,0,255,1);
		font-weight: bold;
		display: inline-block;
		&:nth-of-type(4) {
			color: rgba(255,255,255,.7);
			border-bottom: 0px solid white;
		}
	}
}

.home-subtitle {
	position: relative;
	max-width: 66.66%;
	margin: 2em auto;
	font-size: 1rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	line-height: 1;
//	text-transform: uppercase;
	color: white;
	@media screen and (min-width: 768px) {
		font-size: 1.25rem;
	}
}


.home-about-site {
	position: relative;
	grid-area: about;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "label explanation"; // stack until 768px
	align-items: start;
	justify-content: center;
	min-height: 40vh;
	margin: .75em 0;
	padding: .5em 0;
	font-size: 5rem; // media queries
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%,0);
		height: 100%;
		width: 2px;
		background-color: rgba(125,0,255,1); //rgba(0,0,0,.2);
	}
	.home-about__label {
		display: inline-block;
		margin: 0 16.67%; // left = auto if bigger than 1200px
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		//text-align: center;
		line-height: 1;
		color: rgba(0,0,0,.9); //rgba(125,0,255,.9);
		//text-shadow: 0 0 0 rgba(0,0,0,.7);
		/*span:nth-of-type(2) {
			color: rgba(125,0,255,1);
		}*/
	}

	.home-about__explanation {
		margin: 0 16.67%; //0 1em;
	//	font-family: "Inconsolata", sans-serif;
		font-size: 1.125rem;
		font-weight: 300;
	}
	@media screen and (min-width: 768px) {
	}
	@media screen and (min-width: 1200px) {
	//	grid-template-columns: 25% 1fr;
	}
}



.home-explore-site {
	grid-area: explore;
	display: grid;
//	background-color: rgba(0,0,0,.05);
}

.home-mock-footer {
	grid-area: footer;
}